services:
  api:
    container_name: "access_manager"
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "19081:8080"
    environment:
      DB_USER: access_manager
      DB_PASSWORD: access_manager
      DB_NAME: compose-db
      DB_HOST: accessmanager-db
      DB_PORT: 5432
    depends_on:
      - accessmanager-db

  accessmanager-db:
    container_name: "accessmanager-db"
    image: postgres:16
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: access_manager
      POSTGRES_PASSWORD: access_manager
      POSTGRES_DB: compose-db
    volumes:
      - accessmanager-pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d

volumes:
  accessmanager-pgdata: